@charset "UTF-8";

body{
    background-color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    border-bottom: 1px solid rgba(196, 149, 31, 0.219);
}

header #tesoura {
    background-color: rgb(196, 149, 31);
    padding: 7px;
    border-radius: 5px;
    color: black;
}

header h2 {
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2em;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.user {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: rgba(24, 22, 22, 0.575);
    padding: 5px 12px;
    border-radius: 20px;
    color: white;
}

.user #usericon {
    background-color:rgba(196, 149, 31, 0.226);
    padding: 7px;
    border-radius: 50px;
    font-size: 10px;
    color: rgb(196, 149, 31);
}

.logout {
    color: gray;
    background-color: rgb(24, 22, 22);
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}

#um  {
    background:  linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(./Imagens/Imagem_home.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    opacity: 100%;
    height: 370px;
    width: 100%;
    
}

#conteudo {
    padding-left: 100px;
    width: 60%;
}

#conteudo i {
    color: rgb(208, 255, 0);
    padding-top: 30px;
    
} 

#conteudo p {
    color: rgb(208, 255, 0);
    letter-spacing: 1px;
    margin-bottom: 10px;
}

#conteudo h1 {
    color: white;
    font-size: 3.0em;
    width: 100%;
}

#conteudo span {
    color: rgb(245, 245, 108);
}

#conteudo  h3 {
    color: white;
    font-weight: lighter;
    letter-spacing: 1px;
    font-size:medium;
    width: 100%;
}

#conteudo input {
    width: 60%;
    min-width: 300px;
    padding: 15px 50px;
    background-color: rgb(10, 10, 10);
    margin-top: 30px;
    outline: none;
    box-shadow: none;
    border: 1px solid rgba(128, 128, 128, 0.253);
    border-radius: 15px;
    font-size: medium;
    color: white;
}


@media (max-width: 1000px){
    
    #conteudo {
        padding-left: 70px;
    }

    #conteudo h1 {
        font-size: 2.6em;
    }

}


@media (max-width: 768px){
    
    #conteudo {
        padding-left: 50px;
    }

    #conteudo h1 {
        font-size: 2.3em;
    }

}


@media (max-width: 500px){
    
    #conteudo {
        padding-left: 30px;
    }

    #conteudo h1 {
        font-size: 1.9em;
    }

    #conteudo h3 {
        font-size: small;
    }

}